<html>
    <head>
        <title>
            Hack DB | AllITebooks
        </title>
        <link rel="stylesheet" href="assets/lumx/dist/lumx.css">
        <link rel="stylesheet" href="assets/bootstrap/bootstrap.dn.css">
        <link rel="stylesheet" href="assets/w3Css/w3.css">
    </head>
    <body ng-app="hackDB" ng-controller="hackDB_controller" ng-init="hackDB.init()" class="w3-font-robotoc_l">
        <div class="toolbar w3-border-bottom w3-indigo w3-text-white w3-card-4">
            <div class="toolbar__left">
                <lx-button lx-type="icon" lx-color="white" class="w3-margin-right w3-blue">
                    <i class="mdi mdi-shield"></i>
                </lx-button>
            </div>
            <div class="toolbar__label w3-text-bold w3-wide">
                HackDB
            </div>
            <div class="toolbar__right">
                <lx-button ng-href="https://github.com/hackdb/allitebooks" target="_blank" lx-type="flat" class=" w3-wide" lx-color="white" ng-href="">
                    GITHUB <i class="mdi mdi-github-circle"></i>
                </lx-button>
            </div>
        </div>
        <div class="w3-padding">
            <div class="container">
                <div class="toolbar w3-border-bottom">
                    <div class="toolbar__label w3-text-bold w3-wide">
                        All IT ebooks
                    </div>
                    <div class="toolbar__right">
                        Download Database as :  &nbsp; 
                        <lx-button lx-type="flat" lx-size="s" class="w3-margin-right w3-font-robotoc_b" ng-href="data/books.json" download="Books.json">
                            JSON <i class="mdi mdi-download"></i>
                        </lx-button>
                        <lx-button lx-type="flat" lx-size="s" class="w3-margin-right w3-font-robotoc_b" ng-href="data/books.sql" download="Books.sql">
                            MYSQL <i class="mdi mdi-download"></i>
                        </lx-button>
                    </div>
                </div>
                <span class="w3-font-robotoc_r w3-padding-small w3-center w3-block w3-margin-top">
                    SEARCH 7555 BOOKS
                </span>
                <input type="text" class="form-control mx-400 w3-margin-auto" ng-model="hackDB.data.filter.book_title" placeholder="Filter By Book Title">
                <div class="w3-padding">
                    <lx-progress lx-type="linear" lx-diameter="100" ng-if="hackDB.busy"></lx-progress>
                    <div class="row">
                        <div class="col-sm-4 w3-margin-top" ng-repeat="book in hackDB.data.books | filter : hackDB.filter() | limitTo : hackDB.data.filter.limitTo">
                            <ul class="list">
                                <li class="list-row">
                                    <div class="list-row__primary" style="width: 110px;">
                                        <img src="{{book.book_image_url}}" alt="" width="100px" height="120px">
                                    </div>
                                    <div class="list-row__content">
                                        <span class="w3-block w3-medium">
                                            {{book.book_title}}
                                        </span>
                                        <span class="w3-block w3-small">
                                            <i class="mdi mdi-book"></i> {{book.book_pages}} &nbsp; <i class="mdi mdi-download"></i> {{book.book_size}}
                                        </span>
                                        <span class="w3-block w3-small w3-text-teal">
                                            <i class="mdi mdi-textbox-password"></i> {{book.book_isbn_10}}
                                        </span>
                                    </div>
                                    <div class="list-row__secondary">
                                        <lx-button lx-type="icon" lx-size="xs" ng-href="{{book.book_download_url}}" target="_blank">
                                            <i class="mdi mdi-download"></i>
                                        </lx-button>
                                        <lx-button lx-type="icon" lx-size="xs" ng-href="{{book.book_view_url}}" target="_blank">
                                            <i class="mdi mdi-book-open-page-variant"></i>
                                        </lx-button>                      
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="toolbar">
                    <div class="toolbar__left">
                        <lx-button lx-type="icon">
                            <i class="mdi mdi-chevron-down"></i>
                        </lx-button>
                        <lx-button lx-type="icon">
                            <i class="mdi mdi-chevron-up"></i>
                        </lx-button>
                    </div>
                    <div class="toolbar__label">
                        Limit : {{hackDB.data.filter.limitTo}}
                    </div>
                </div>
            </div>
        </div>
        <script src="assets/JQuery/jquery.js"></script>
        <script src="assets/angularJS/angular.min.js"></script>
        <script src="assets/angularJS/angular-route.js"></script>
        <script src="assets/lumx/dist/lumx.min.js"></script>
        <!-- APP -->
        <script src="assets/app/module.js"></script>
        <script src="assets/app/service.js"></script>
        <script src="assets/app/controller.js"></script>
    </body>
</html>